

.topbar {
    background-color: black;
    max-height: 60px;
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
}

.logoPic {
    max-width: 250px;
    padding: 5px;
    padding-left: 20px;
}

.navIcons ul{ 
    display: flex;
    color: white;
    padding-top: 20px;
    padding-right: 10px;
    justify-content: space-around;
    width: 300px;
    font-family: Karla;
    text-transform: uppercase;
    font-size: 14px;
}

.navIcons a {
    text-decoration: none;
    color: white;
}

.topbox {
    color: white;
    text-align: center; /* How do I get the text to move down in the image? */
    height: 500px;
    /* margin: 20px; */
    background-image: url("Images/kayak-bkgd.jpg"); /* Shorthand this later */
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,0.15); /* These two lines of code darken the background so it's easier to read text */
    background-blend-mode: darken; 
}

.topbox h1 {
    padding-top: 60px;
    font-size: 16px;
}

.topbox h2 {
    padding-top: 60px;
    font-size: 80px;
}

.topbox h3 {
    padding-top: 40px;
    font-size: 30px;
}

.topbox h4 {
    padding-top: 40px;
}

.topbox h4 span { /* This targets just the area that has text */
    background-color: rgba(33, 33, 33, 0.6);
    padding: 5px;
}

.topbox h5 {
    padding-top: 40px;
}

.topbox h5 span {
    background-color: rgb(244, 80, 66);
    border-radius: 25px; 
    padding: 10px;
}

.container {
    font-size:20px;
    width:1140px; 
    background-color: white;
    }

h6 {
    font-size: 50px;
}

.about-text {
    padding: 50px;
}

/* Alternate way to display images:
.image-banner {
display: flex;
justify-content: space-around;
}

.image-banner img {
    height: 100%;
    max-width: 350px;
    width: 32%;
}
*/

.sunset {
    position: relative;
    padding-left: 30px;
}

.adventure {
    position: relative;
}

.kayakgirl {
    position: relative;
}

p {
    color: gray;
    font-size: 18px;
   margin-top: 30px;
   max-width: 700px; /* Set to this to make text display more centered in the page */
   line-height: 1.4;
   font-family: Karla;
}

.rentals {
    padding: 50px;
}

.rentalBox {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rentalBox p {
    max-width: 500px;
}

table {

}

thead th {
    background-color: lightgray;
}

.gmap {
    padding-top: 20px;
    padding-bottom: 50px; 
}

.footer {
    background-color: gray;
    height: 200px; /* Check this is right size later */
    width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

footer .leftFooter {
padding-left: 66px;
display: flex;
flex-direction: column;
}

footer .rightFooter {
padding-right: 100px;
}

/*
Typography:

The base font size is 16px for all screen sizes
The main font family is Karla
The secondary font family is Pacifico
Colours:

The HEX code for the body font colour is #2d2d2d
The HEX code for the medium grey headings is #646464
The HEX code for orange brand colour is #e2574c (used for links and buttons)
The HEX code for the darker orange colour is #b64036 (used for the link and button hover state)
The HEX code for the table header background is #e6e6e6
The HEX code for the grey table borders #c8c8c8
The HEX code for the light yellow of the hovered table rows is #fbf6d9
Screen Sizes

The breakpoint of the desktop-friendly content area is 1140px
The breakpoint of the tablet-friendly content area is 600px
*/